{% extends "Dashboard/base.html" %}
{% load static %}

{% block content %}
     <!-- Left side columns -->
     <div class="col-lg-12">
      <div class="row">

        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-4">
              <div class="card text-bg-success">
                <div class="card-body">
                  <h5 class="card-title"><b>Students</b></h5>
                  <p class="card-text"><em></em> {{ total_students }}</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="card text-bg-success">
                <div class="card-body">
                  <h5 class="card-title"><b>Teachers</b></h5>
                  <p class="card-text">{{ total_teachers }}</p>
                </div>
              </div>
            </div>
            <!-- Add more cards for other layers -->

            <div class="col-md-4 mt-2">
              <div class="card text-bg-info">
                <div class="card-body">
                  <h5 class="card-title"><b>Staff</b></h5>
                  <!-- Add a graph chart for income today -->
                  <p class="card-text"><em></em> {{ total_staffs }}</p>
                </div>
              </div>
            </div>

            <div class="col-md-12 mt-4">
              <div class="card ">
                <div class="card-body">
                  <h5 class="card-title"><b>School Fee analysis</b></h5>
                  <canvas id="expenseChart"></canvas>
                </div>
              </div>
            </div>
            <!-- Add more cards for other graphs -->

            <!--start-->
            <div class="col-md-6 col-lg-4">
              <div class="card text-bg-success">
                <div class="card-body">
                  <h5 class="card-title"><b>Opportunities</b></h5>
                  <p class="card-text"><em></em> {{ total_opportunities }}</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="card text-bg-success">
                <div class="card-body">
                  <h5 class="card-title"><b>School Fees</b></h5>
                  <p class="card-text">{{0}}</p>
                </div>
              </div>
            </div>
            <!-- Add more cards for other layers -->

            <div class="col-md-4 mt-2">
              <div class="card text-bg-info">
                <div class="card-body">
                  <h5 class="card-title"><b>Notices</b></h5>
                  <!-- Add a graph chart for income today -->
                  <p class="card-text"><em></em> {{ total_notices }}</p>
                </div>
              </div>
            </div>
            <!--end-->

<!--start-->
<div class="col-md-6 col-lg-4">
  <div class="card text-bg-success">
    <div class="card-body">
      <h5 class="card-title"><b>Opportunities</b></h5>
      <p class="card-text"><em></em> {{ total_opportunities }}</p>
    </div>
  </div>
</div>
<div class="col-md-6 col-lg-4">
  <div class="card text-bg-success">
    <div class="card-body">
      <h5 class="card-title"><b>School Fees</b></h5>
      <p class="card-text">{{0}}</p>
    </div>
  </div>
</div>
<!-- Add more cards for other layers -->

<div class="col-md-4 mt-2">
  <div class="card text-bg-info">
    <div class="card-body">
      <h5 class="card-title"><b>Notices</b></h5>
      <!-- Add a graph chart for income today -->
      <p class="card-text"><em></em> {{ total_notices }}</p>
    </div>
  </div>
</div>
<!--end-->

          </div>
        </div>
{% endblock content %}