{% extends "Dashboard/base.html" %}
{% load bootstrap5 %}

{% block content %}
<div class="container-xl">
  <div class="table-responsive">
      <div class="table-wrapper">
          <div class="table-title">
              <div class="row">
                  <div class="col-sm-8"><h2><b>ELearning</b> <b>Details</b></h2></div>
              </div>
          </div>
          <div class="row">
            <!--Delete all button-->
            <div class="col m-1">

                <button type="submit" class="btn btn-danger"><a style="color:white;" href="{% url 'ELearnings_delete' %}">Delete all</a></button>

            </div>
            <!--Add new Product-->
            <div class="col m-1">
               <a href="{% url 'ELearning_create' %}"> <button type="submit" class="btn btn-primary">Add ELearning</button></a>
            </div>
          </div>
          <table class="table table-striped table-hover table-bordered">
              <thead>
                  <tr>
                      <th scope="col">Title</th>
                      <th scope="col">Date Posted</th>
                      <th scope="col">Posted By</th>
                      <th scope="col">Date</th>
                      <th scope="col">Time</th>
                      <th scope="col">Link</th>
                      <th scope="col"> Action</th>
                  </tr>
              </thead>
              <tbody>
                {% for eLearning in  eLearnings  %}
                <tr>
                  <th>{{ eLearning.title}}</th>
                  <td scope="row">{{ eLearning.date_posted }}</td>
                  <td scope="col">{{ eLearning.posted_by }}</td>
                  <td scope="col">{{ eLearning.date }}</td>
                  <td scope="col">{{ eLearning.time }}</td>
                  <td scope="col">{{ eLearning.link }}</td>
                  <td>
                    <a href="{% url 'ELearning_detail' eLearning.pk %}" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i>View</a>
                    <a href="{% url 'ELearning_update' eLearning.pk %}" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i>Edit</a>
                    <a href="{% url 'ELearning_delete' eLearning.pk %}" class="delete" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE517;</i>Delete</a>
             </td>
                  <style>
                    .lin{
                      color : black;

                    }
                  </style>
                </tr>
                {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
</div>


{% endblock content %}