{% extends "Dashboard/base.html" %}
{% load bootstrap5 %}

{% block content %}
<div class="container-xl">
  <div class="table-responsive">
      <div class="table-wrapper">
          <div class="table-title">
              <div class="row">
                  <div class="col-sm-8"><h2><b>exams</b> <b>Details</b></h2></div>
              </div>
          </div>
          <div class="row">
            <!--Delete all button-->
            <div class="col m-1">

                <button type="submit" class="btn btn-danger"><a style="color:white;" href="{% url 'exams_delete' %}">Delete all</a></button>

            </div>
            <!--Add new Product-->
            <div class="col m-1">
               <a href="{% url 'exam_create' %}"> <button type="submit" class="btn btn-primary">Add exam</button></a>
            </div>
          </div>
          <table class="table table-striped table-hover table-bordered">
              <thead>
                  <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Date</th>
                      <th scope="col"> Action</th>
                  </tr>
              </thead>
              <tbody>
                {% for exam in  exams  %}
                <tr>
                  <th>{{ exam.name}}</th>
                  <td scope="row">{{ exam.date }}</td>
                  <td>
                    <a href="{% url 'exam_detail' exam.pk %}" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i>View</a>
                    <a href="{% url 'exam_update' exam.pk %}" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i>Edit</a>
                    <a href="{% url 'exam_delete' exam.pk %}" class="delete" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE517;</i>Delete</a>
             </td>
                  <style>
                    .lin{
                      color : black;

                    }
                  </style>
                </tr>
                {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
</div>


{% endblock content %}