{% extends "Dashboard/base.html" %}
{% load static %}

{% block content %}
 <!--second one-->
 <div class="container ">
  <div class="col">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <h3 class="card-title text-center mt-3">{{ subject.name }}</h3>
          </div>
         <div>
        
          <table class="table">
            <tbody>
              <tr>
                <th>Name</th>
                <td><b>{{ subject.name }}</b></td>
              </tr>
              <tr>
                <th>Code</th>
                <td><b>{{ subject.code }}</b></td>
              </tr>
              <tr>
                <th>Descriptiom</th>
                <td><small>{{ subject.description }}</small></td>
              </tr>
              
            </tbody>
          </table>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}